<h2>Bienvenido <b><%= user.nombres %> <%= user.apellidos %></b></h2>
<script type="text/javascript">

	MENSAJE.text = "<%= user.nombres %> <%= user.apellidos %> ha ingresado al sistema";
</script>