<a href="/usuarios/index">Ver todos</a>
<h2>User Create form</h2>
<form action="/user/create" method="POST">
    <table>

    <tr><td>Nombres<td>
    <input type="text" name="User[fName]"><br/>

    <tr><td>LastName<td><input type="text" name="User[nombres]"><br/>

    <tr><td>UserName<td><input type="text" name="User[userName]"><br/>

    <tr><td>Password<td><input type="text" name="User[password]"><br/>

    <tr><td>Email</td><td><input type="text" name="User[email]"></td></tr>
    <tr><td><td><input type="submit" value="Agregra"></td></td>
</form>